.directory
*.pyc
*~
/org/_drafts
/images
/jekyll/_site/
/_site/
/jekyll/cycling
/jekyll/blog
/jekyll/books
/jekyll/linux
/jekyll/mountaineering
/jekyll/mythtv
/jekyll/_posts
/jekyll/_drafts
/jekyll/index.html
/jekyll/sitemap.html
/jekyll/contact.html
/pelican/blog/content
*.#
*#
.directory
