*.pyc
*~
*.jpg
*.JPG
*.png
*.gif
/jekyll/_site/
/_site/
/jekyll/cycling
/jekyll/books
/jekyll/linux
/jekyll/mountaineering
/jekyll/mythtv
/jekyll/_posts
/jekyll/_drafts
/jekyll/index.html
/jekyll/sitemap.html
/jekyll/contact.html
*.#
*#

