    <div class="sidebox">
	<div class="boxhead"><h2>Linux Articles.</h2></div>
	<div class="boxbody">
            <ul>
              <li><a href="/linux/orgmode.html">Emacs org-mode</a></li>
            </ul>

	</div>
    </div>

    <div class="sidebox">
	<div class="boxhead"><h2>My Linux Projects..</h2></div>
	<div class="boxbody">
            <ul>
              <li><a href="/linux/mythconky.html">Display MythTV Status
              in Conky</a></li>
              <li><a href="/linux/googleweather.html">Python Class for
              Google Weather.
              </a></li>
              <li><a href="/linux/tmobilesms.html">Send SMS Messages
              Via T-Mobile.
              </a></li>
              <li><a href="/linux/lucidbuttons.html">Move the Window
              Buttons in Ubuntu Lucid.
              </a></li>

            </ul>

	</div>
    </div>
