    <div class="sidebox">
	<div class="boxhead"><h2>Mountaineering Menu.</h2></div>
	<div class="boxbody">
            <ul>
              <li><a href="index.html">Mountaineering Home Page</a></li>
              <li><a href="gear_list.html">My Equipment.</a></li>
              <li><a href="mountain_data.html">Data for UK Mountains.</a></li>
            </ul>

	</div>
    </div>

    <div class="sidebox">
	<div class="boxhead"><h2>Links to Other Mountaineering Sites.</h2></div>
	<div class="boxbody">
        <ul>
          <li><a href="http://alanhalewood.blogspot.com/">Alan
          Halewood</a></li>
          <li><a href="http://www.westcoast-mountainguides.co.uk/">West
          Coast Mountain Guides</a></li>
          <li><a href="http://mountainplan.blogspot.com/">Mountain
          Plan
          </a></li>
          <li><a href="http://andy-kirkpatrick.com/">Andy
          Kirkpatrick</a></li>
          <li><a href="http://www.mwis.org.uk/">Mountain Weather
          Information</a></li>
          <li><a href="http://v-g.me.uk/index.htm">Backpacking in
          Britain</a></li>
          <li><a href="http://www.snowdoniabackpacking.info/index.html">Snowdonia
          Backpacking</a></li>
        </ul>

	</div>
    </div>




